@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nav-color: #70ba43;
    --text-color: #ffffff;
    --main-bg-color: #1e2124; /*AKA Theme*/
    --span-color: #16b11b;
    --button-color: #67a850;
}
html{
    font-size: 62.5%;
    line-height: 1.6;
    font-family: poppins;
}
header{
    background-color: var(--nav-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
}
.main-logo>img{
    height: 30px;
    margin: 1rem;
}
.nav-items>ul{
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}
.nav-items>ul>li{
    margin: 2rem;
}
.nav-items>ul>li>a{
    text-decoration: none;
    color: var(--text-color);
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/main_bg-img.png);
    background-color: var(--main-bg-color);
    color: var(--text-color);
}
main>img{
    height: 500px;
    margin: 9rem 0;
}
.text-area>h1{
    font-size: 4rem;
}
.text-area>h1>span{
    color: var(--span-color)
}
.text-area>button{
    cursor: pointer;
    margin: 1rem -1rem;
    padding: 1.6rem;
    border-style: none;
    border-radius: 10rem;
    color: var(--text-color);
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    font-family: poppins;
    font-size: 1.6rem;
}